@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Slab:wght@600&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  background-color: gray;
}

/* set width/center content in primary semantic structure code blocks */
header, footer, main {
  width: 580px;
  margin: auto;
}

header, footer {
  background-color: black;
  color: white;
  padding: 0;
  text-align: center;
}

footer {
  padding: 20px 0;
}

main {
  box-sizing: border-box;
  padding: 5px 20px;
  background-color: oldlace;
  color: darkslategray
}

/* style h1 and h2 identically */
h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

/* override h1 size */
h1 {
  font-size: 60px;
}

img {
  width: 50%;
  margin-top: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left:25%;
  padding-right:25%;
  background-color: darkslategray;
}

/* Want <li> img background to match main background */
li img {
  background-color: oldlace;
}

/* customize <hr> */
hr {
  margin-top: 40px;
  border: 3px solid rgb(14, 24, 116);
  border-radius: 3px;
}

/* a placeholder style for temporory html notes that should be rendered and not just code comments */
span.temp {
  font-size: smaller;
  font-weight: bolder;
}

a:link {
  font-size: large;
  color: aqua;
}

a:visited {
  color: purple;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
